name: Publish Docker image

on:
  push:
    branches: '**'
  schedule:
    - cron: '0 0 * * 0'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: [bullseye, latest]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: nggit
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push nggit/debian-jwm:${{ matrix.tag }}
        uses: docker/build-push-action@v3
        with:
          context: .
          file: debian-jwm/Dockerfile
          push: true
          tags: nggit/debian-jwm:${{ matrix.tag }}
          platforms: linux/amd64, linux/arm64
